<html>
  <head></head>
  <body>
    <form action="/search" method="GET">
      <input type="artist" name="myArtist" id="">
      <button type="submit">Search for an Artist</button>
    </form>
  </body>
</html>